{{ with .Vars -}}
module "my-vpc" {
  source = "{{ .sourcePath }}"

  name = "{{ .name }}"
  cidr = "{{ .cidr }}"

  azs             = {{ .azs | HCLJoin }}
  private_subnets = {{ .privateSubnets | HCLJoin }}
  public_subnets  = {{ .publicSubnets | HCLJoin }}

  tags = {
    Environment = local.env
  }
}
{{ end -}}

module "vpc-endpoints" {
  source = "./vpc-endpoints"
  env    = local.env
}
