module "lambda_function" {
  source = "{{ .TmplVars.source_path }}"

  function_name = "my-lambda1"
  description   = "Some lambda function"
  handler       = "index.handler"
  runtime       = "{{ .TmplVars.runtime }}"

  source_path = "./src/lambda-function1"

  tags = {
    Name = "my-lambda1"
  }
}
